body {
  color: #1D0F14;
  background-color: #691221;
}

.header {
  color: #691221;
  background-color: #DCCFBF;
  text-align: center;
  padding: 20px;
  font-family: "DM Serif Display", serif;
  max-width: 100%; 
  position: relative; 
}

.container {
  
  max-width: 800px;
  margin: 40px auto; 
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 60pt;
  margin-bottom: 20px;
  color: #C3AB77;
}

h2, h3, h4 {
  font-family: "Averia Serif Libre";
  font-weight: 400;
  font-size: 2em;
  margin-top: 15px;
  color: #C3AB77;
}

p {
  font-family: "Quattrocento Sans", serif;
  line-height: 1.5;
}




@media screen and (max-width: 400px){
  ul{
       flex-direction: column;
   }
   li{
       width: 100vs;
       padding: 10px 30px;
   }
   .grid {
      grid-template-columns: 1fr;
   }
}