body {
  color: #C3AB77;
  background-color: #691221;
}

.header {
  color: #691221;
  background-color: #DCCFBF;
  text-align: center;
  padding: 20px;
  font-family: "DM Serif Display", serif;
  max-width: 100%; 
  position: relative; 
}

.container {
  max-width: 800px;
  margin: 40px auto; 
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 60pt;
  margin-bottom: 20px;
}

h2, h3, h4 {
  font-family: "Averia Serif Libre";
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 15px;
}

p {
  font-family: "Quattrocento Sans", serif;
  line-height: 1.5;
}

.collapsible {
  background-color: #DCCFBF;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 18px;
  background-color: #f9f9f9;
  border: 1px solid #DCCFBF;
  border-radius: 5px;
  margin-top: 5px;
  display: none; /* Ensure hidden by default */
}


.content {
    padding: 18px;
    background-color: white;
    display: none; 
    transition: max-height 0.2s ease-out;
}

@media screen and (max-width: 400px){
  ul{
       flex-direction: column;
   }
   li{
       width: 100vs;
       padding: 10px 30px;
   }
   .grid {
      grid-template-columns: 1fr;
   }
}