/*.about {
    grid-area: about;
    /*background-color: #1D0F14;
    font-family: "Averia Serif Libre, serif";

}*/

body{
    color: #C3AB77;
    background-color: #691221;
    
}

.Contact {
    grid-area: Contact;
    /*background-color: #1D0F14;*/
    
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60pt;
}

h2,h3,h4,h5,h6{
    font-family: "Averia Serif Libre";
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

 p {
    font-family: "Quattrocento Sans", serif;
    font-weight: 400;
    font-style: normal;
}
.info{
    background-color: #691221;
    
}
@media screen and (max-width: 400px){
    ul{
        flex-direction: column;
    }
    li{
        width: 100vs;
        padding: 10px 30px;
    }
}