<<<<<<< HEAD
=======



>>>>>>> Nick
body{
    margin: 0;
}

<<<<<<< HEAD
ul{
    list-style: none; /*gets rid of bullets*/
    display: flex;
    background-color: black;
    margin: 0;
    padding: 10px 0px;
}

li a{
    text-decoration: none; /*gets rid of underline*/
    color: white;
    padding: 10px 30px; /*first value: top/bottom, second value: left/right*/
=======


ul{
    list-style: none;   /* get rid of bullet */
    display:flex;
    background-color: black;
    margin: 0;
    padding: 10px 0px;

}

li a{
    text-decoration: none; /* get rid of underline*/
    padding: 10px 30px;
    color: white;
    font-family: "Literata", serif;
    transition: color 1s;
>>>>>>> Nick
}

li a:hover{
    background-color: darkslategrey;
<<<<<<< HEAD
}

li a:active{
    background-color: white;
    color: black;
}
=======
    color:gold;
}


li a:active{
    background-color: white;
    color: black;
}


@media screen and (max-width: 800px){
   ul{
        flex-direction: column;
    }
    li{
        width: 100vs;
        padding: 10px 30px;
    }
}




    
>>>>>>> Nick
