@media screen and (max-width: 600px){
    ul{
         flex-direction: column;
     }
     li{
         width: 100vs;
         padding: 10px 30px;
     }
 }
  body {
    color: #C3AB77;
    background-color: #691221;
    font-family: "Quattrocento Sans", serif;
    margin: 0;
    padding: 0;
 }
 
 
 .header {
    color: #691221;
    background-color: #DCCFBF;
    text-align: center;
    padding: 20px;
    font-family: "DM Serif Display", serif;
 }
 
 
 .container {
    padding: 20px;
 }
 
 
 h1 {
    font-size: 60pt;
    text-align: center;
 }
 
 
 .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
 }
 
 
 .grid-item {
    color:#691221;
    background-color: #DCCFBF;
    padding: 20px; /* Increased padding */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 400px; /* Set a minimum height */
 }
 
 
 h2, h3, h4, h5 {
    font-family: "Averia Serif Libre", serif;
    font-size: xx-large;
 }
 
 
 .dot-container {
    text-align: center;
    margin: 15px 0;
 }
 
 
 .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
 }
 
 
 .mySlides {
    display: none;
 }
 
 
 .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
 }
 
 
 .next {
    right: 0;
 }
 
 
 .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
 }
 
 
 .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: "Averia Serif Libre", serif;
 }
 
 
 .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #DCCFBF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 }
 
 
 .active, .dot:hover {
    background-color: #717171;
 }
 
 
 .fade {
    animation-name: fade;
    animation-duration: 1.5s;
 }

 
 @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
 }
 
 
 @media screen and (max-width: 400px) {
    h1 {
        font-size: 40pt;
    }
 }
 
 